.date-picker {
  display: inline-flex !important;
  align-items: center;
  background-color: #fff;
}
.picker_style {
  background-color: #fff;
  margin: 2px 0;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.title {
  display: inline-flex;
  align-items: center;
  /* justify-content: space-between; */
}

.tip {
  display: inline-block;
  font-size: medium;
  height: 32px;
  line-height: 32px;
  margin-right: 5px;
}
.process {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
}
.green {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  color: #319273;
}
.weekday {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.weekday:hover {
  color: #319273;
  font-size: medium;
}
.date_button {
  margin-left: 2vw;
}
